body{
	margin: 0;
}

.header{
	border: 1px solid orange;
}

.nav{
	border-bottom: 1px solid;
	background: #bbe89b;
	padding: 15px 0;
	display: flex;
	justify-content: center;
}

.menu{
	width: 40%;
/*	border: 1px solid blue;
*/	margin: 0px;
	padding-left: 0px;
	display: flex;
	justify-content: space-between;
}

.menu li{
	list-style: none;
	text-decoration: none;
}

.menu i{
	font-size: 40px;
	color: #605f5f;
}
